@model ClaimWebApp.Models.ClaimRequest

<section class="container">

    <div class="row">
        <div class="col-sm-1">
            <input type="submit" id="idSubmit" value="Save" class="btn btn-primary btn-block" asp-controller="ClaimRequests" asp-action="Save" />
        </div>
@*        <div class="col-sm-3">
            <input type="submit" id="idSubmit" value="Send For Approval" class="btn btn-success btn-block" asp-controller="ClaimRequests" asp-action="ForApproval" />
        </div>*@
    </div>


</section>