
@{
    ViewData["Title"] = "Index";
}

<h1>About</h1>

<p>
   This application created for Town of Oakville as an internal claim request web app on ASP.Net 3.1 with sharepoint list as a database by Hizir Ozcelik as a coop programmer.
   I recreated the application on ASP.Net Core 6.0 with MS SQL on my personal benefit.
   It has add and remove row functionality using jQuery. Store form inputs into MS SQL database.
</p>
